@model MAV.Web.Data.Entities.MaterialType

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de borrar este tipo de material?</h3>
<div>
    <h4>Tipo de material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-outline-primary"><span class="fas fa-arrow-left"></span></a>
        <button type="submit" class="btn btn-outline-danger"><span class="fas fa-trash"></span></button>
    </form>
</div>
