@model MAV.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 style="text-align: center">Login</h1>
<br />
<div>
    <div style="text-align: center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username" class="Control-label">User Name</label>
                <br />
                <input asp-for="Username" class="form-label" />
                <br />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="Control-label">Password</label>
                <br />
                <input asp-for="Password" class="form-label" type="password" />
                <br />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RememberMe" class="Control-label">Remember Me</label>
                <input asp-for="RememberMe" class="form-label" type="checkbox" />
                <span asp-validation-for="RememberMe" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
</div>