@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img src="../Images/logoumad.png"/>
    <h1 class="display-4">Bienvenidos a Medios Audiovisuales de la UMAD</h1>
</div>

<style>
    img {
    padding: 20px; 
    text-align:center; 
    }
</style>