@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="http://www.ccpep.org.mx/wp-content/uploads/2021/05/logo-umad.jpg"/>
    <h1 class="display-4">Welcome to Medios Audiovisuales UMAD</h1>
</div>
