@model MAV.Web.Data.Entities.LoanDetail

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<h1>Create</h1>

<h4>LoanDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeOut" class="control-label"></label>
                <input asp-for="DateTimeOut" class="form-control" />
                <span asp-validation-for="DateTimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeIn" class="control-label"></label>
                <input asp-for="DateTimeIn" class="form-control" />
                <span asp-validation-for="DateTimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
